
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
README.md
folder-structure-setup.md
naming-conventions.md
vscode-extensions.md
debug/
logs/
*.log
.env

